.word-box {
  display: inline-block;
  background-image: linear-gradient(
    to bottom right,
    var(--primary-100),
    var(--primary-200)
  );
  padding: 0 3rem;
  width: max-content;

  @include respond(phone) {
    padding: 0 0.5rem;
  }
}

.word {
  font-size: 10rem;
  display: inline-block;
  transition: opacity 0.5s ease-in-out;

  @include respond(phone) {
    font-weight: 600;
    font-size: 6rem;
  }
}
