:root {
  // Colors
  --primary-100: #ff293b;
  --primary-200: #da0315;

  --gray-100: #f9f9f9;
  --gray-200: #ebebeb;
  --gray-300: #b8b8b8;
  --gray-400: #2d2b34;
  --gray-500: #1e1d24;
  --gray-600: #101018;

  --yellow: #f7c62f;
  --green: #0fc2c0;

  // Shadow
  --shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

  // Font
  --default-font-size: 1.9rem;
  --font-family: "Inter", sans-serif;
  --font-display: "Montserrat", sans-serif;

  // Layout
  --row-width: 136.6rem;
}
